<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/login.css">

</head>

<body>


    <!-- Main container -->
<main>
                <form action="">
                <div class="login-wording">LOGIN</div>
                <br>
                    <div class="usercont">
                        
                        <input type="text" id="username" placeholder="Username" required max="15">
                    </div>
                    <br>
                    <div class="passcont">
                        
                        <input type="password" id="password" placeholder="Password" required>
                    </div>
                    <br>
                    <div class="buttoncont">
                        <button class="login-btn" onclick="loginCredentials()">LOGIN</button>
                    </div>
                <br>
                
                <div class="display-txt">Invalid username or password</div>
                <div class="signup">Create a new account  <a href="/signup">Sign up</a></div>
                </form>
</main>   
</body>

</html>