<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="/newUser.css">
</head>

<body>
    <main class="container">
        <h1>Create Your Account</h1>
        <form action="/createNewUser" method="get">

            <div class="child">
                <label for="Firstname">Name</label>
                <input type="text" id="Firstname" name="name" required>
            </div>
           
            <div class="child">
                <label for="age">Age</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div class="child">
                <label for="gender">Gender:</label>
                <select name="gender" id="gender" required>
                    <option class="op" value="male">Male</option>
                    <option class="op" value="female">Female</option>
                </select>
            </div>
            <div class="child">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="child">
                <label for="recheck-password">Re-Enter Password</label>
                <input type="password" name="recheck-password" id="recheck-password" required>
            </div>
            <div class="tc">
                <div> <input type="checkbox" name="terms" id="tnc" required>
                </div>
                <div> I read and agree to the terms and condition</div>
            </div>
            <div class="child"><button>Continue</button></div>
        </form>
    </main>
</body>

</html>