body {
    background-image: url(/images/bg.webp);
    background-size: 100%;
}

.nav-bar {
    margin: -10px;
    background-color: black;
    display: flex;
    align-items: center;
    width: 101.2%;
    height: 100px;
}

.createacc {
    width: 100%;
    height: 100px;
}

.createacc .signup {
    background-color: #05595B;
    color: azure;
    border-radius: 10px;
    margin-top: 30px;
    width: 70px;
    height: 30px;
    margin-right: 50px;
    float: right;
}

.homepage-container {

    display: flex;
    justify-content: center;

}

.quote {
    font-size: 40px;
    display: flex;
    margin-top: 150px;
    font-weight: 700;
    font-style: italic;
    text-indent: 2px;
}

.blur-box {
    background-image: url(/images/blurbox\ image.jpg);
    background-size: 180%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 500px;
    width: 400px;
    background-color: whitesmoke;
}

.login-form {
    background-image: url(/images/blurbox\ image.jpg);
    background-size: 180%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 80%;
    height: 85%;
    box-shadow: 4px 4px 0px 0px black;

}

input {
    font-weight: bold;
    font-size: 15px;
    height: 24px;
    background-color: gray;
    color: black;
    border-radius: 15px;
}

label {

    color: azure;
    font-size: 17px;
    font-weight: 700;
}

.buttoncont {
    width: 100%;
}

.login-btn {
    font-weight: bold;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 100%;
}

.login-btn:hover {
    background-color: #05595B;
    color: azure;
    transform: translateY(-2px);
}

.login-wording {


    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 43px;
    color: azure;
}

.brandname a img {
    margin-left: 10px;
    margin-top: 50px;
    max-width: 100px;
    max-width: 100px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
}