:root {
    --goodblue: #2F2FA2;
    --blackgrey: #4c5263;
    --brownishmaroon: #99738e;
    --notorange: #f64c72;
    --kindablue: #28bccf;

}
*
{
    margin: 0;

}

.youtube-container{
    height:fit-content;
    background-color: var(--blackgrey);
     display: flex;
     
    flex-wrap: wrap;

}

.video-player{
    border-radius: 10px;
    margin: 20px;
    width:300px;
    height:200px;
}
