<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/home.css">
    
</head>

<body>
    <!-- Navigation bar -->
    <nav class="homepage-nav">
        <div class="nav-holder">
                    <div class="dropdown">
                            <img  class = dropbtn src="hamburger_icon.png" alt="">
                        <div class="dropdown-content">
                            <a onclick="window.location.href='/calorietracker'">Diet Planner</a>
                            <a onclick="window.location.href='/videos'">Videos</a>
                            <a onclick="window.location.href='/diet'">Food recommender<sup>&#x1F451</sup></a>
                        </div>
                    </div>
                <div class="home-right-content">
                    <div class="about">
                        <a href="/about.html">How this works?</a>
                    </div>
             
                <button class="premium" onclick="window.location.href='/premiumUSer'">Subscribe</button>
                <button class="login-btn-home" onclick="window.location.href='/loginUser'" >Sign In</button>
            
        </div>
    
    </nav>

    <!-- main container to hold things :) -->

    <main class="home-container">
        <!-- image slider-->
        <div class="holder">
            <!-- wording and sliding window-->
            <div class="wording">
                <div>HELLO,</div>
                <span class="s1"><%= data%></span>
                <span class="s2">have a nice day</span>
            </div>
            <div class="users">
                <h1>Review</h1>
                <div class="userhold">
                    <div class="user-circle"><img src="/usericon.png" alt=""></div>
                    <div class="userinteraction">
                        <h1 class="name">Deepak</h1>
                        <h2 class="comment">"Hi,everyone 👋"</h2>
                    </div>
                </div>
                    <br>
                    <div class="userhold">
                     <div class="user-circle"><img src="/usericon.png" alt=""></div>
                    <div class="userinteraction">
                        <h1 class="name">Benjamin </h1>
                        <h2 class="comment">"I found this app very useful"</h2>
                    </div>
                    </div>
            </div>
        </div>
    </main>
    <!-- Footer -->

    <footer class="footer-home">
        <div class="contacts fit-content">
            <div class="mobile">Contact :9344695977</div>
            <br>
            <div class="email">deepakraj15112002@gmail.com</div>
        </div>
        <div class="conditions-cont fit-content">
            <div class="conditions"> <a href="/terms">terms of use</a> </div>
            <br>
            <div class="about-text"><a href="/about.html"> About our mission</a></div>
        </div>
        <div class="others fit-content">
            <div class="faq"><a href="/faq">FAQ</a> </div>
            <br>
            <div class="feedback"><a href="/feeback">Feedback</a> </div>
        </div>
        <div class="follow-us fit-content">
            <div class="wrap">
                <a href=""> <img src="/instagram-circled-black.webp" alt="instagram-icon"></a>
            </div>
            <div class="wrap">
                <a href=""> <img src="/reddit-circled-black.webp" alt="instagram-icon"></a>
            </div>
            <div class="wrap">
                <a href=""><img src="/twitter-circled-black.webp" alt="instagram-icon"></a>
            </div>

            <div class="wrap">
                <a href=""><img src="/youtube-circled-blak.webp" alt="instagram-icon"></a>
            </div>

        </div>
    </footer>
</body>

</html>