:root {
    --goodblue: #2F2FA2;
    --blackgrey: #4c5263;
    --brownishmaroon: #99738e;
    --notorange: #f64c72;
    --kindablue: #28bccf;
}

body {
    background-color: var(--goodblue);
}

.container-dynamic {
    margin-top: 200px;
    display: flex;
}

.holder-bar {
    display: flex;
    flex-direction: column;
    float: right;
    width: inherit;
}

.questionary {

    margin-left: 500px;
}

.questionary div {
    float: left;
    font-size: 50px;
    color: azure;
    font-weight: 700;
}

.h1 {
    background-color: var(--blackgrey);
    letter-spacing: 3px;
}

.input-holder {
    width: 100%;
}

#inputid {
    border-radius: 20px;
    border: none;
    margin-left: 500px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 200;
    height: 45px;
    width: 200px;
    text-indent: 3px;
}

.image img {
    max-width: 600px;
    max-height: 500px;
    border-radius: 50px;
}

.status {
    margin-left: 500px;
    display: flex;
    justify-content: center;

}

.circle {
    font-size: 30px;
    font-weight: 700;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px 4px azure;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 20px;
    background-color: var(--notorange);
}

.txt {
    letter-spacing: 1px;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 700;
    color: azure;
}