:root {
    /* colors */
}

* {
    border: 0;
    margin: 0;

}

h1 {
    background-color: paleturquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
}

.container {
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.video {
    margin: 10px 0 0 10px;
    border-radius: 10px;
    background-color: gray;
}

.weight-loss {
    display: flex;
    border: 10px;
    width: 100%;
    height: 200px;
}

iframe {
    margin: 10px 0 0 0;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

iframe:hover {
    transform: translateY(-10px);
}



.title {
    margin: 2px 0 0 10px;
    min-height: 30px;
    width: 300px;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
}

.title:hover {
    background-color: red;
}

p {
    font-family: cursive;
    margin-top: 5px;
    letter-spacing: 3px;
    color: azure;
    font-weight: 800;
    font-size: 19px;
}